.navBar {
    margin-top: 30px !important;
}

.nav_box {
    justify-content: flex-end !important;
    column-gap: 35px;
}

.navMenu_box {
    align-content: center;
    height: min-content;
}

.navMenu_btn {
    max-height: min-content;
    font-size: 42px;
    border: none;
    background: transparent;
}

.navLogo {
    align-self: center;
    font-size: 30px;
}

.navLogo_icon {
    /* margin: 3px 0px 6px 3px; */
    align-self: center;
    font-size: 26px;
}

.navContainer {
    justify-content: flex-end;
}

/* .navMenu_mobile {
    display: flex;
    position: absolute;
    background: white;
    margin-top: 5rem;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
} */

/* .navLink_mobile {
    margin-bottom: 1.5rem;
    font-size: 24px;
} */
