.navbar {
    display: flex;
    min-width: screen;
    justify-content: space-around;
    font-family: 'rubik', 'Segoe UI', Arial;
}

.navLogo_container {
    display: flex;
}

.navLogo {
    align-self: center;
}

.navLogo_icon {
    margin: 3px 0px 0px 3px;
    align-self: center;
    font-size: 30px;
}

.navContainer {
    display: flex;
    align-items: center;
    column-gap: 35px;
}

.navLink {
    font-family: sans-serif;
    transition: all;
    transition-duration: 75ms;
    text-decoration: none;
}

.navLink:hover {
    text-decoration: underline;
}
