body {
    margin: 0;
    padding-top: 1rem;
}

main {
    margin-top: 54px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: dimgrey;
}

a {
    display: flex;
    text-decoration: none;
    color: dimgray;
}

button {
    color: dimgray;
    margin: 16px 0px;
    transition: all 75ms;
    cursor: pointer;
}

h1.heading {
    font-weight: 800;
    font-size: 42px;
    color: rgb(80, 80, 80);
}

h2.subheading {
    font-weight: 600;
    color: rgb(105, 120, 136);
}

.content-div {
    min-width: screen;
    padding: 0px 310px;
}

.content-div__latest-post {
    display: flex;
    padding: 80px 100px;
    justify-content: center;
    align-items: center;
    background: rgb(245, 245, 245);
    margin-top: 82px;
    box-sizing: content-box;
}

.latest-post {
    box-sizing: border-box;
    max-width: 35%;
    margin-left: 2rem;
}

.latest-post__image-box {
    max-width: 35%;
    margin-left: 2rem;
}

.latest-post__image {
    width: 100%;
}

.btn-outlined {
    padding: 12px 20px;
    outline: dimgray auto 1px;
    background: transparent;
    font-weight: 500;
    font-size: 16px;
}
.btn-outlined:hover {
    background: dimgray;
    color: white;
}

.btn-filled {
    padding: 20px 36px;
    border-radius: 5px;
    background: rgb(255, 60, 60);
    /* background: darkcyan; */
    /* background: dodgerblue; */
    /* background: royalblue; */
    /* background: steelblue; */
    color: white;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border: none;
}

.btn-filled:hover {
    background: rgb(220, 0, 0);
}

.btn-filled:active {
    outline: slategrey auto 10px;
}
