:root {
    --col-primary: steelblue;
    --col-secondary: rgb(45, 110, 164);
    --default-outline: dimgray;
    --heading-1: rgb(80, 80, 80);
    --heading-2: rgb(105, 120, 136);
}

#col-primary {
    color: var(--col-primary);
}

#cor-secondary {
    color: var(--col-secondary);
}

#col-heading-1 {
    color: var(--heading-1);
}

#col-heading-2 {
    color: var(--heading-2);
}

body {
    margin: 0;
    padding-top: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 54px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--default-outline);
}

a {
    display: flex;
    text-decoration: none;
    color: var(--default-outline);
}

button {
    color: var(--default-outline);
    margin: 16px 0px;
    transition: all 75ms;
    cursor: pointer;
}

h1.heading {
    font-weight: 800;
    font-size: 42px;
}

h2.subheading {
    font-weight: 600;
}

h3.subheading-small {
    font-weight: 500;
}

h4.subheading-tiny {
    font-weight: 500;
}

.btn-outlined {
    padding: 12px 20px;
    outline: var(--default-outline) auto 1px;
    background: transparent;
    font-weight: 500;
    font-size: 16px;
}
.btn-outlined:hover {
    background: var(--default-outline);
    color: white;
}

.btn-filled {
    padding: 20px 36px;
    border-radius: 5px;
    /* background: rgb(255, 60, 60); */
    /* background: darkcyan; */
    /* background: dodgerblue; */
    /* background: royalblue; */
    background: var(--col-primary);
    color: white;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border: none;
}

.btn-filled:hover {
    /* background: rgb(220, 0, 0); */
    background: var(--col-secondary);
}

.btn-filled:active {
    outline: slategrey auto 10px;
}

.content-div__recent-posts {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: left;
    width: 62%;
    margin-top: 4rem;
}
