.welcome-text {
    font-weight: 600;
    color: rgb(105, 120, 136);
}

.content-div {
    min-width: screen;
    padding: 0px 17.5%;
}

.content-div__latest-post {
    display: flex;
    padding: 90px 0px;
    min-width: screen;
    background: rgb(245, 245, 245);
    margin-top: 82px;
    box-sizing: border-box;
}

.latest-post-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-width: screen;
    margin: 0px 19.5%;
    padding: 0px 15px;
}

.latest-post__image-box {
    min-width: 50%;
}

.latest-post__text-box {
    align-content: center;
    box-sizing: border-box;
    margin-left: 95px;
    min-width: 50%;
}

.latest-post-image {
    width: 100%;
}

.content-div__recent-posts {
    align-self: center;
    text-align: left;
    width: 65%;
    margin-top: 4rem;
}

.recent-posts-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    max-height: 1.25rem;
    font-size: 24px;
}

.recent-posts-icon {
    font-size: 20px;
}
