.image {
    border: 1px solid lightgrey;
}

.postInfo {
    padding-top: 18px;
}

.heading {
    font-size: 25px;
}

.description {
    font-weight: 300;
    font-size: 18px;
    opacity: 75%;
}

.profile_info {
    padding: 0;
}

.profile_info__details {
    line-height: 8px;
    align-content: space-around;
}

.profile_info__text {
    font-size: 14px;
    font-weight: 300;
    margin-top: 12px !important;
    margin-bottom: 12px !important;
    margin-left: 10px;
}

.pfp {
    width: 42.5px;
    border-radius: 100%;
}
