/* background: rgb(255, 60, 60); */
/* background: darkcyan; */
/* background: dodgerblue; */
/* background: royalblue; */
:root {
    /* --col-primary: rgb(245, 245, 245); */
    --col-primary: rgb(40, 40, 40);
    --col-secondary: rgb(45, 110, 164);
    --col-highlight: rgb(31, 90, 139);
    --col-text: dimgray;
    --col-outline-default: lightgrey;
    --col-heading-1: rgb(80, 80, 80);
    --col-heading-2: rgb(105, 120, 136);
    --col-footer: rgb(31, 90, 139);
}

#col-primary {
    color: var(--col-primary) !important;
}

#col-secondary {
    color: var(--col-secondary) !important;
}

#col-heading-1 {
    color: var(--col-heading-1) !important;
}

#col-heading-2 {
    color: var(--col-heading-2) !important;
}

* {
    /* font-family: 'rubik', sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

img {
    overflow: clip;
    overflow-clip-margin: content-box;
}

img,
svg {
    vertical-align: middle;
}

body {
    margin: 0;
    line-height: 1.5rem !important;
}

main {
    display: flex;
    flex-direction: column;
    color: var(--col-text);
}

button {
    color: var(--col-text);
    transition: all 75ms;
    cursor: pointer;
}

ul,
li,
a {
    list-style: none;
    padding: 0;
}

input {
    outline: none;
    border-radius: 5px;
    padding: 5.5px 0;
    border: 1px solid var(--col-outline-default);
    transition-duration: 75ms;
}

input:focus {
    border: 1px solid var(--col-secondary);
}

.heading-large {
    font-size: 36px !important;
}

h1,
.heading {
    font-weight: 700 !important;
    font-size: 28px !important;
}

h2,
.subheading {
    font-weight: 600 !important;
    font-size: 23px !important;
}

.subheading-small {
    font-weight: 500 !important;
    font-size: 16px !important;
}

.subheading-smaller {
    font-weight: 450 !important;
}

.subheading-tiny {
    font-weight: 300 !important;
}

button {
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn-outlined {
    padding: 12px 10px;
    background: transparent;
    font-weight: 500;
}
.btn-outlined:hover {
    text-decoration: underline;
}

.btn-filled {
    padding: 20px 36px;
    background: var(--col-secondary);
    color: white;
    font-weight: 600;
}

.btn-filled:hover {
    /* background: rgb(220, 0, 0); */
    background: var(--col-highlight);
}

.btn-filled:active {
    outline: slategrey auto 10px;
    background: var(--col-primary);
}

.horisontal-line {
    min-width: 100%;
    height: 1.5px;
    margin-bottom: 10px;
    background: lightgrey;
}

.horisontal-line-thin {
    height: 1px;
    opacity: 50%;
}

@media (min-width: 820px) {
    .btn-outlined {
        border: dimgray solid 1px;
        padding: 12px 20px;
    }

    .btn-outlined:hover {
        background: var(--col-text);
        color: white;
    }
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik/rubik-black-webfont.woff2') format('woff2'),
        url('/fonts/Rubik/rubik-black-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik/rubik-blackitalic-webfont.woff2') format('woff2'),
        url('/fonts/Rubik/rubik-blackitalic-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik/rubik-bold-webfont.woff2') format('woff2'),
        url('/fonts/Rubik/rubik-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik/rubik-bolditalic-webfont.woff2') format('woff2'),
        url('/fonts/Rubik/rubik-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik/rubik-italic-webfont.woff2') format('woff2'),
        url('/fonts/Rubik/rubik-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik/rubik-light-webfont.woff2') format('woff2'),
        url('/fonts/Rubik/rubik-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik/rubik-lightitalic-webfont.woff2') format('woff2'),
        url('/fonts/Rubik/rubik-lightitalic-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik/rubik-medium-webfont.woff2') format('woff2'),
        url('/fonts/Rubik/rubik-medium-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik/rubik-mediumitalic-webfont.woff2') format('woff2'),
        url('/fonts/Rubik/rubik-mediumitalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik/rubik-regular-webfont.woff2') format('woff2'),
        url('/fonts/Rubik/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
