/* background: rgb(255, 60, 60); */
/* background: darkcyan; */
/* background: dodgerblue; */
/* background: royalblue; */
:root {
    /* --col-primary: rgb(245, 245, 245); */
    --col-primary: rgb(40, 40, 40);
    --col-secondary: rgb(45, 110, 164);
    --col-highlight: rgb(31, 90, 139);
    --col-text: dimgray;
    --col-outline-default: lightgrey;
    --col-heading-1: rgb(80, 80, 80);
    --col-heading-2: rgb(105, 120, 136);
    --col-footer: rgb(31, 90, 139);
}

#col-primary {
    color: var(--col-primary) !important;
}

#col-secondary {
    color: var(--col-secondary) !important;
}

#col-heading-1 {
    color: var(--col-heading-1) !important;
}

#col-heading-2 {
    color: var(--col-heading-2) !important;
}

#col-text {
    color: lightgrey !important;
}

* {
    /* font-family: 'rubik', sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

img {
    overflow: clip;
    overflow-clip-margin: content-box;
}

img,
svg {
    vertical-align: middle;
}

body {
    margin: 0;
    line-height: 1.6rem !important;
}

main {
    display: flex;
    flex-direction: column;
    color: var(--col-text);
}

button {
    color: var(--col-text);
    transition: all 75ms;
    cursor: pointer;
}

a.a-btn {
    line-height: 1rem !important;
    border-radius: 5px;
    align-content: center;
}

a.a-link:hover {
    text-decoration: underline;
}

input {
    outline: none;
    border-radius: 5px;
    padding: 5.5px 0;
    border: 1px solid var(--col-outline-default);
    transition-duration: 75ms;
}

textarea {
    line-height: 100% !important;
    font-weight: bolder;
    resize: none;
}

input:focus {
    border: 1px solid var(--col-secondary);
}

strong,
em,
u,
code {
    font-size: inherit;
}

span {
    font-size: inherit;
}

.heading-xlarge {
    font-size: 48px !important;
}

.heading-large {
    font-size: 36px !important;
}

.heading {
    font-weight: 700 !important;
    font-size: 28px;
}

.subheading {
    font-weight: 600 !important;
    font-size: 23px;
}

.subheading-small {
    font-weight: 500 !important;
    font-size: 16px !important;
}

.subheading-smaller {
    font-weight: 450 !important;
}

.subheading-tiny {
    font-weight: 300 !important;
}

button {
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn-outlined {
    padding: 12px 10px;
    background: transparent;
    font-weight: 500;
}
.btn-outlined:hover {
    text-decoration: underline;
}

.btn-filled {
    padding: 20px 36px;
    background: var(--col-secondary);
    color: white;
    font-weight: 600;
}

.btn-filled:hover {
    /* background: rgb(220, 0, 0); */
    background: var(--col-highlight);
}

.btn-filled:active {
    outline: slategrey auto 10px;
    background: var(--col-primary);
}

.btn-danger {
    color: white !important;
    background: rgb(140, 36, 36);
}

.btn-danger:hover {
    background: rgb(110, 21, 21) !important;
}

.btn-danger:active {
    outline: slategrey auto 10px;
    background: var(--col-primary) !important;
}

.horisontal-line {
    min-width: 100%;
    height: 1.5px;
    margin-bottom: 10px;
    background: lightgrey;
}

.horisontal-line-thin {
    height: 1px;
    opacity: 50%;
}

.social-links {
    display: flex;
    text-align: center;
    justify-content: center;
}

.social-links > a {
    padding: 0 15px;
    padding-bottom: 30px;
}

.article {
    line-height: 1.75rem;
    color: var(--col-heading-1);
}

.article > h2 {
    color: var(--col-heading-1);
    padding: 12px 0;
}

/* .article > ul {
    padding-left: 40px;
    margin: 1em 0;
} */
/* 
.article > ul > li {
    list-style-type: disc;
    margin: 0.5em 0;
} */

.article > p {
    color: var(--col-heading-1);
}

.article > p > img {
    padding: 20px 0;
    width: auto;
    height: auto;
}

.article > p > a {
    color: var(--col-secondary);
}

.article > ol > li {
    padding: 4px 8px;
}

.article > ul > li {
    padding: 4px 0;
}

.codeblock {
    background-color: rgba(124, 138, 152, 0.1);
    border: 0.5px solid lightgrey;
    border-radius: 7px;
    margin: 20px 0;
    line-height: 21px;
}

.codeblock__head {
    display: flex;
    justify-content: space-between;
}

.codeblock__head > div > p {
    padding-left: 11px;
    padding-top: 4px;
    opacity: 65%;
    font-size: 13px;
}

.codeblock__head > a {
    display: flex;
    align-items: center;
    text-align: center;
    height: 2rem;
    font-size: 14px;
    margin-top: 3px;

    margin-right: 10px;
}

#copyIcon {
    font-size: 14px;
    margin-right: 3px;
}

.codeblock > pre {
    padding: 0 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

code {
    background: rgba(210, 210, 210, 0.2);
    /* color: rgb(130, 130, 130); */
    color: var(--col-text);
    padding: 3px;
    border-radius: 5px;
}

pre > code {
    background: none;
    color: black;
}

blockquote,
.quote {
    display: flex;
    align-content: center;
    background: rgba(128, 128, 128, 0.1);
}

blockquote > p,
blockquote > span,
.quote > p {
    margin: 1.6rem;
}

.quote-separator {
    background: var(--col-secondary);
    min-width: 8px;
    max-width: 8px;
}

.contains-task-list {
    /* padding-left: 2rem !important; */
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
    padding-left: 1rem;
}

.task-list-item {
    list-style: none !important;
    display: flex;
    gap: 12px;
}

.table {
    overflow: scroll;
}

.table > thead > tr > th {
    border: 1px solid lightgrey;
    background: rgba(128, 128, 128, 0.1);
}

.table > tbody > tr > td {
    border: 1px solid lightgrey;
}

.table > thead > tr,
.table > tbody > tr {
    height: 45px;
}

.mdxeditor-toolbar {
    position: fixed !important;
    width: 100% !important;
    left: 0%;
}

.full-image {
    height: 210px !important;
}

.preview-author-select {
    width: min-content;
    height: min-content;
    background-image: none;
}

@media (min-width: 576px) {
    .social-links {
        display: flex;
        flex-direction: column !important;
        justify-content: flex-start;
    }
    .social-links > a {
        padding: 0;
        padding-bottom: 15px;
    }
}

@media (min-width: 820px) {
    .btn-outlined {
        border: dimgray solid 1px;
        padding: 12px 20px;
    }

    .btn-outlined:hover {
        background: var(--col-text);
        color: white;
    }
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik/rubik-black-webfont.woff2') format('woff2'), url('/fonts/Rubik/rubik-black-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik/rubik-blackitalic-webfont.woff2') format('woff2'), url('/fonts/Rubik/rubik-blackitalic-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik/rubik-bold-webfont.woff2') format('woff2'), url('/fonts/Rubik/rubik-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik/rubik-bolditalic-webfont.woff2') format('woff2'), url('/fonts/Rubik/rubik-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik/rubik-italic-webfont.woff2') format('woff2'), url('/fonts/Rubik/rubik-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik/rubik-light-webfont.woff2') format('woff2'), url('/fonts/Rubik/rubik-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik/rubik-lightitalic-webfont.woff2') format('woff2'), url('/fonts/Rubik/rubik-lightitalic-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik/rubik-medium-webfont.woff2') format('woff2'), url('/fonts/Rubik/rubik-medium-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik/rubik-mediumitalic-webfont.woff2') format('woff2'), url('/fonts/Rubik/rubik-mediumitalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik/rubik-regular-webfont.woff2') format('woff2'), url('/fonts/Rubik/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
