.welcome-text {
    font-weight: 600;
    color: rgb(105, 120, 136);
}

.welcome-heading {
    font-size: 2.5rem;
}

.welcome {
    margin-top: 60px;
    padding: 0 0 30px 0 !important;
    position: relative;
    overflow: hidden;
}

.welcome-xs {
    margin-bottom: 30px;
}

.latest-post {
    display: flex;
    padding: 90px 0 !important;
    width: 100%;
    background: rgb(245, 245, 245);
    box-sizing: border-box;
}

.latest-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-width: screen;
    margin-left: auto;
    margin-right: auto;
    /* padding: 0px 15px; */
}

.latest-post__image-box {
    width: 100%;
}

.latest-post__text-box {
    align-content: center;
    box-sizing: border-box;
    min-width: 50%;
}

.latest-post-image {
    width: 100%;
}

.recent-posts-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    max-height: 1.25rem;
    font-size: 24px;
}

.post-box {
    align-self: center;
    text-align: left;
    /* width: 65%; */
    width: 90%;
    margin: 4rem 0px;
}

#btn-text {
    font-weight: 600 !important;
}

.category-link {
    display: flex;
    flex-direction: column;
}

.recent-btn {
    font-weight: 600 !important;
    text-decoration: none;
    width: max-content;
}

.recent-posts-icon {
    font-size: 20px;
}

.read-on-btn {
    font-weight: 600;
}

.post-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 30px;
}

.post-card {
    padding-bottom: 20px;
}

.post-card-image {
    width: 100%;
}

.post-card-link {
    text-decoration: underline;
    color: black;
    font-weight: 600;
}

.ivan-yalovets {
    width: 290px;
}

.pfp {
    width: 45px;
    border-radius: 50%;
}

.profile-info {
    line-height: 8px;
    align-content: space-around;
    justify-content: start;
}

.profile-info__text {
    font-size: 14px;
    font-weight: lighter;
    margin-top: 12px !important;
    margin-bottom: 12px !important;
    margin-left: 8px;
}
