.welcome-text {
    font-weight: 600 !important;
    color: rgb(105, 120, 136);
}

.welcome-heading {
    font-size: 2.5rem !important;
}

.welcome {
    margin-top: 60px;
    padding: 0 0 30px 0 !important;
    position: relative;
    overflow: hidden;
}

.welcome-xs {
    margin-bottom: 30px;
}

.teaser-img {
    overflow: hidden;
    max-width: 100%;
    height: auto !important;
}

#btn-text {
    font-weight: 600 !important;
}

#link-light {
    color: lightgrey !important;
    text-decoration: underline;
    transition-duration: 75ms;
}

#link-light:hover {
    color: var(--col-secondary) !important;
}

.category-heading {
    display: flex;
    flex-direction: column;
}

.recent-btn {
    font-weight: 600 !important;
    text-decoration: none;
    width: max-content;
}

.recent-posts-icon {
    font-size: 20px;
}

.read-on-btn {
    font-weight: 600;
}

.post-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 30px;
}

.post-card {
    padding-bottom: 20px;
}

.post-card-image {
    width: 100%;
}

.post-card-link {
    text-decoration: underline;
    color: black;
    font-weight: 600;
}

.about-me {
    display: flex;
    width: 100% !important;
    justify-content: center;
    background: var(--col-primary);
}

.ivan-yalovets {
    width: 290px;
    border-radius: 100%;
}
