.welcome-text {
    /* font-weight: 600 !important; */
    /* color: rgb(105, 120, 136); */
    font-family: 'Courier New', monospace;
}

.welcome-text-cursor {
    font-weight: 300;
    animation: blinkingText 1s infinite;
}

@keyframes blinkingText {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.mac-window {
    width: 550px;
    height: 300px;
    background: rgb(246, 246, 246);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(212, 212, 212);
    margin-top: 7rem;
    margin-bottom: 1rem;
}

.dark .mac-window {
    border-color: rgb(115, 115, 115);
    background: rgb(40, 40, 40);
}

/* Title Bar */
.mac-title-bar {
    height: 30px;
    background: linear-gradient(to bottom, rgb(252, 252, 252), rgb(253, 253, 253));
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid rgb(221, 221, 221);
    position: relative;
}

.dark .mac-title-bar {
    background: linear-gradient(to bottom, rgb(55, 55, 55), rgb(48, 48, 48));
    border-bottom-color: rgb(15, 15, 15);
}

/* Window Buttons */
.mac-buttons {
    display: flex;
    gap: 8px;
}

.mac-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    /* cursor: pointer; */
}

.close {
    background: #ff5f57;
}
.minimize {
    background: #ffbd2e;
}
.maximize {
    background: #28c840;
}

/* Title Text */
.mac-title {
    flex-grow: 1;
    text-align: center;
    font-size: 14px;
    font-weight: 650;
    color: rgb(75, 75, 75);
    pointer-events: none; /* Prevent selection */
    margin-right: 2.5rem;
}

.dark .mac-title {
    color: rgb(180, 180, 180);
}

/* Window Content */
.mac-content {
    flex-grow: 1;
    padding: 15px;
    font-size: 20px;
    color: #333;
}

.mac-content > pre {
    overflow: hidden;
}

.mac-content > pre > code {
    color: rgb(1, 1, 1);
    user-select: none;
}

.dark .mac-content > pre > code {
    color: rgb(218, 218, 218);
}

.welcome-heading {
    font-size: 2.75rem !important;
    font-weight: 750;
    margin-top: 8px;

    font-stretch: wider;
}

.welcome {
    margin-top: 60px;
    padding: 0 0 30px 0 !important;
    position: relative;
    overflow: hidden;
    height: max-content;
}

.welcome-xs {
    margin-bottom: 30px;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    bottom: 0;
    position: fixed;
}

.arrow-down {
    position: relative;
    width: 70px; /* Control how wide the "V" is */
    height: 70px; /* Adjust for symmetry */
    animation: bounce 2s infinite;
}

.arrow-down::before,
.arrow-down::after {
    content: '';
    position: absolute;
    width: 4px; /* Thickness of arrow lines */
    height: 70px; /* Length of arrow lines */
    background-color: var(--col-primary);
    border-radius: 5px;
}

.arrow-down::before {
    transform: rotate(-75deg);
    left: 0;
    top: 0;
}

.arrow-down::after {
    transform: rotate(75deg);
    right: 0;
    top: 0;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

.teaser-img {
    overflow: hidden;
    max-width: 100%;
    height: auto !important;
}

#recentPosts {
    margin-top: 20rem;
}

#btn-text {
    font-weight: 600 !important;
}

#link-light {
    color: lightgrey !important;
    text-decoration: underline;
    transition-duration: 75ms;
}

#link-light:hover {
    color: var(--col-secondary) !important;
}

#link-dark {
    color: var(--col-primary);
    text-decoration: underline;
    transition-duration: 75ms;
}

#link-dark:hover {
    color: var(--col-secondary) !important;
}

.category-heading {
    display: flex;
    flex-direction: column;
}

.recent-btn {
    font-weight: 600 !important;
    text-decoration: none;
    width: max-content;
}

.recent-posts-icon {
    font-size: 20px;
}

.read-on-btn {
    font-weight: 600;
}

.post-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 30px;
}

.post-card {
    padding-bottom: 20px;
}

.post-card-image {
    width: 100%;
}

.pagination-change {
    position: absolute;
}

.post-card-link {
    text-decoration: underline;
    color: black;
    font-weight: 600;
}

.about-me {
    display: flex;
    width: 100% !important;
    justify-content: center;
    background: var(--col-background-elements) !important;
}

.ivan-yalovets {
    width: 290px;
    border-radius: 7px;
}

.read-further {
    display: flex;
    width: 100%;
    justify-content: center;
}

.read-further-button {
    background: rgba(128, 128, 128, 0.2);
    padding: 1rem;
    margin: 8px;
    vertical-align: middle;
    align-items: center;
    transition-duration: 150ms;
}

.read-further-button:hover {
    background: rgba(150, 150, 150, 0.2);
}

.read-further-button:active {
    background: rgba(122, 122, 122, 0.2);
}

.read-further-button > h5 {
    margin: 0;
}

.read-further > div > div {
    padding: 0 18px;
}
