.loadingBanner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: white;
    overflow: hidden;
    z-index: 10000;
    top: 0%;
    /* bottom: 0%; */
    left: 0%;
}

.articlePage {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    background: white;
    z-index: 2000;
    top: 0;
    left: 0;
}

.previewModal {
    z-index: 2000;
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    overflow-y: scroll;
}

.previewModal > div {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.postDataContainer {
    transition: all 0.3s ease-in-out;
    position: absolute;
    will-change: transform, opacity, padding;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background: white;
    /* height: min-content; */
    height: 100vh;
    border-radius: 16px;
    /* padding-top: 5rem !important; */
    height: max-content;
    transform: scale(1); /* Start */
    opacity: 1;
    /* Transition only GPU-accelerated properties */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

@media (min-width: 992px) {
    .postDataContainer {
        transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease, padding 0.3s ease; /* Add padding animations on bigger screens */
    }
}

.expandedPostCloseBtn {
    /* margin: 5px 0; */
    font-size: 10px;
    /* display: flex; */
    top: 12px;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: all 0.3s ease-in-out;
    animation: buttonAppear forwards ease-in-out;
    animation-duration: 300ms;
}

@keyframes buttonAppear {
    0% {
        opacity: 0%;
        display: none;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
        display: flex;
    }
}

.icon {
    width: 2em;
    height: 2em;
    color: var(--col-primary);
}

.socialMediaLinks {
    padding-left: 1rem;
}

.navbar_brand {
    font-family: 'rubik', sans-serif !important;
    font-weight: 500;
    font-size: 2rem;
}

.navLogo_icon {
    align-self: center;
    font-size: 32px;
}
