.footer {
    min-width: screen;

    padding: 70px 0;

    background-color: var(--col-footer);
}

#subscribeForm {
    padding: 12px;
}

#subscribeText {
    color: whitesmoke;
    font-size: 32px;
}

#inputBox {
    margin-bottom: 10px;
}

#agreementCheckbox {
    height: max-content;
    margin-right: 10px;
    margin-top: 10px;
}

.navText {
    color: whitesmoke;
}

.navLink {
    color: rgb(239, 239, 239);
    text-decoration: underline;
}

.navLink:hover {
    color: var(--col-primary);
}

.btn_subscribe {
    padding: 16px 0;
    background: transparent;
    border: 2px solid var(--col-outline-default);
    color: var(--col-outline-default);
}

.btn_subscribe:hover {
    background: var(--col-secondary);
    color: whitesmoke;
}
