.image {
    border: 1px solid lightgrey;
}

@media (min-width: 768px) {
    .massive_img {
        height: auto !important;
    }
}

.postInfo {
    padding-top: 18px;
}

.latest_post {
    display: flex;
    padding: 90px 0 !important;
    width: 100%;
    background: rgb(248, 248, 248);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: screen;
    box-sizing: border-box;
    margin: 0 auto;
}

.latest-post__image-box {
    width: 100%;
}

.latest-post__text-box {
    align-content: center;
    box-sizing: border-box;
    min-width: 50%;
}

.latest-post-image {
    width: 100%;
}

.recent-posts-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    max-height: 1.25rem;
    font-size: 24px;
}

.post-box {
    align-self: center;
    text-align: left;
    /* width: 65%; */
    width: 90%;
    margin: 4rem 0px;
}

.heading {
    font-size: 25px;
    align-items: center; /* This ensures vertical alignment */
}

.description {
    font-weight: 300;
    font-size: 18px;
    opacity: 75%;
}

.profile_info {
    display: flex;
    align-items: center; /* This ensures vertical alignment */
    padding: 0;
}

.profile_info__details {
    line-height: 8px;

    align-content: space-around;
}

.profile_info__text {
    font-size: 14px;
    font-weight: 300;
    padding-top: 12px;
    padding-bottom: 3px;
    margin-left: 10px !important;
}

.placeholder_profile_info__text {
    font-size: 14px;
    font-weight: 300;
    margin-top: 7px !important;
    margin-bottom: 12px !important;
    margin-left: 10px !important;
}

.pfp {
    width: 42.5px;
    border-radius: 100%;
}

.popoverPfp {
    min-width: 55px;
    border-radius: 100%;
}

.newPostImage:hover {
    filter: brightness(0.92) saturate(1.2);
}

.dot,
.underscore {
    display: inline-block;
    background-color: #ccc;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    animation: blink 2.75s infinite step-start;
    animation-fill-mode: both;

    transition: all;
    padding: 0 !important;
    margin: 0 !important;
}

.underscore {
    width: 18px;
    height: 4px;
    border-radius: 2px;
    animation: blink-underscore 2.5s infinite step-start;
    animation-fill-mode: both;
}

.placeholder_pfp {
    animation: blink-underscore 3s infinite step-start;
    animation-fill-mode: both;
}

@keyframes blink {
    0%,
    100% {
        opacity: 0.9;
    }
    60% {
        opacity: 1;
    }
}

@keyframes blink-underscore {
    0%,
    100% {
        opacity: 0.85;
    }
    60% {
        opacity: 1;
    }
}
