.image {
    border: 1px solid lightgrey;
    border-radius: 8px;
}

@media (min-width: 768px) {
    .massive_img {
        height: auto !important;
    }
}

.postInfo {
    padding-top: 18px;
}

.latest_post {
    display: flex;
    padding: 90px 0 !important;
    width: 100%;
    background: rgb(248, 248, 248);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: screen;
    box-sizing: border-box;
    margin: 0 auto;
}

.latest-post__image-box {
    width: 100%;
}

.latest-post__text-box {
    align-content: center;
    box-sizing: border-box;
    min-width: 50%;
}

.latest-post-image {
    width: 100%;
}

.recent-posts-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    max-height: 1.25rem;
    font-size: 24px;
}

.post-box {
    align-self: center;
    text-align: left;
    /* width: 65%; */
    width: 90%;
    margin: 4rem 0px;
}

.card {
    box-sizing: border-box;
}

.heading {
    font-size: 25px;
    align-items: center; /* This ensures vertical alignment */
    flex-wrap: wrap;
    column-gap: 4px;
}

.heading > span {
    display: inline-flex;
    white-space: nowrap;
    margin-bottom: 2.5px;
    padding: 3.7px 8px;
    vertical-align: middle;
    align-content: center;
    min-width: max-content;
}

.description {
    font-weight: 300;
    font-size: 18px;
    opacity: 75%;
}

.description > a {
    font-size: inherit;
}

.profile_info {
    display: flex;
    align-items: center; /* This ensures vertical alignment */
    padding: 0;
}

.profile_info__details {
    line-height: 8px;

    align-content: space-around;
}

.profile_info__text {
    font-size: 14px;
    font-weight: 300;
    padding-top: 12px;
    padding-bottom: 3px;
    margin-left: 10px !important;
}

.placeholder_profile_info__text {
    font-size: 14px;
    font-weight: 300;
    /* margin-top: 7px !important;
    margin-bottom: 12px !important;
    margin-left: 10px !important; */
    max-height: min-content !important;
}

.pfp {
    width: 42.5px;
    border-radius: 100%;
}

.popoverPfp {
    min-width: 55px;
    border-radius: 100%;
}

.newPostImage:hover {
    filter: brightness(0.92) saturate(1.2);
}

.dot,
.underscore {
    display: inline-block;
    background-color: #ccc;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    animation: blink 2.75s infinite step-start;
    animation-fill-mode: both;

    transition: all;
    padding: 0 !important;
    margin: 0 !important;
}

.underscore {
    width: 18px;
    height: 4px;
    border-radius: 2px;
    animation: blink 2.5s infinite step-start;
    animation-fill-mode: both;
}

.placeholder_image {
    animation: blink-underscore 3.5s infinite step-start;
    animation-fill-mode: both;
    max-height: 180px;
    border-radius: 7px;
}

.placeholder_image_massive {
    animation: blink-underscore 3.5s infinite step-start;
    animation-fill-mode: both;
    max-height: 307px;
    border-radius: 7px;
}

.placeholder_heading__dot {
    width: 12px !important;
    height: 12px !important;
}

.placeholder_heading__underscore {
    width: 18px !important;
    height: 6px;
    align-self: flex-end;
}

.placeholder_desc__dot {
    width: 10px !important;
    height: 10px !important;
}

.placeholder_desc__underscore {
    width: 16px !important;
    height: 6px;
    align-self: flex-end;
}

.placeholder_pfp {
    animation: blink-underscore 3s infinite step-start;
    animation-fill-mode: both;
}

.articleLabel {
    position: absolute;
    top: 315%;
    left: 7.5px; /* Distance from the right of the container */
    background-color: rgba(0, 0, 0, 0.6); /* Optional background for better readability */
    color: #fff; /* Text color */
    padding: 0px 6px; /* Optional padding for styling */
    font-size: 12px; /* Adjust the size as needed */
    border-radius: 4px; /* Optional rounded corners */
    font-weight: 600 !important;
    font-size: 11px;
    z-index: 1;
    gap: 4px;
}

.imageWrapper {
    position: relative; /* For the span to position relative to this */
    width: 100%;
    height: 180px; /* Match the fixed height for the image */
    overflow: hidden; /* Ensure no content spills outside */
}

.openedPost {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}

.expandedContainer {
    background: white;
    border-radius: 16px;
    box-sizing: border-box;
}

.expandedPostCloseBtn {
    margin: 5px 0;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 2em;
    height: 2em;
    color: var(--col-primary);
}

@media (max-width: 992px) {
    .imageWrapper {
        height: 140px; /* Adjust height for smaller screens */
    }
}

@media (max-width: 767px) {
    .imageWrapper {
        height: 160px; /* Adjust height for even smaller screens */
    }
}

#labelIcon {
    font-size: 14px;
}

@media (min-width: 768px) {
    .articleLabel {
        top: 260%;
    }

    .expandedContainer {
        background: white;
        border-radius: 16px;
        /* padding: 0.3rem 0.3rem; */
        overflow-y: scroll;
    }
}

@media (min-width: 993px) {
    .articleLabel {
        top: 365%;
    }
}

@keyframes blink {
    0%,
    100% {
        opacity: 0.9;
    }
    60% {
        opacity: 1;
    }
}

@keyframes blink-underscore {
    0%,
    100% {
        opacity: 0.85;
    }
    60% {
        opacity: 1;
    }
}
