$primary: rgb(40, 40, 40);
$secondary: rgb(45, 110, 164);

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

.container {
    padding-left: 15px !important;
    padding-right: 15px !important;

    @media (min-width: 576px) {
        // For sm and up
        max-width: 540px !important;
    }

    @media (min-width: 768px) {
        // For md and up
        max-width: 720px !important;
    }

    @media (min-width: 992px) {
        // For xl and up
        max-width: 960px !important;
    }

    @media (min-width: 1200px) {
        // For xxl and up
        max-width: 1140px !important;
    }
}

.text-primary {
    color: $primary !important;
}

.text-secondary {
    color: $secondary !important;
}

.nav-link {
    color: $primary;

    &:hover {
        color: $secondary !important;
        text-decoration: underline;
    }

    transition-duration: 75ms !important;
}

#active {
    color: $secondary !important;
}

@import '../../node_modules/bootstrap/scss/bootstrap';
