$primary: rgb(40, 40, 40);
$secondary: rgb(45, 110, 164);

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

.container {
    @media (min-width: 576px) {
        // For sm and up
        max-width: 540px !important;
    }

    @media (min-width: 768px) {
        // For md and up
        max-width: 720px !important;
    }

    @media (min-width: 992px) {
        // For xl and up
        max-width: 960px !important;
    }

    @media (min-width: 1200px) {
        // For xxl and up
        max-width: 1140px !important;
    }
}

.navbar-nav {
    display: flex !important;
    justify-content: flex-end !important;
    column-gap: 30px;
}

.nav-menu-mobile {
    position: absolute;
    background: white;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: 1050;
}

.mobileNavIcon {
    width: 2.6em;
    height: 2.6em;
    color: $primary;
}

#menu-opened {
    color: $secondary;
}

.nav-link {
    color: $primary;

    &:hover {
        color: $secondary !important;
        text-decoration: underline;
    }

    transition-duration: 75ms !important;
}

.nav-link-mobile {
    margin-bottom: 2rem;
    font-size: 24px;

    &:active {
        color: $secondary !important;
    }
}

.btn-subscribe {
    text-decoration: none;

    &:active {
        text-decoration: underline;
    }
}

.row {
    display: flex !important;
    flex-wrap: wrap !important;
    overflow: hidden !important;
    margin-top: 30px !important;
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.welcome > div:nth-of-type(2) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

#mobileNavigation {
    font-size: xx-large;
    padding: 10px;
    width: 3rem;
    border: none;
    background: transparent;
    position: relative;
    z-index: 1050;
}

#active {
    color: $secondary !important;
}

.posts,
.image,
.col-md-4,
.col-md-6,
img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;

    margin: 0;
    max-width: 100%;
}

.image,
img {
    filter: grayscale(100%) opacity(90%);
    &:hover {
        filter: none;
    }
}

.teaser-img {
    filter: none;
}

// .posts,
// .col-md-4,
// img {
//     @media (min-width: 576px) {
//         height: 160px;
//     }

//     @media (min-width: 768px) {
//         height: 210px;
//     }
// }
.col-11,
.col-sm-10,
.col-md-7,
.offset-1,
.offset-sm-1,
.offset-md-5 {
    overflow: hidden !important;
}

.posts > .post-list > div {
    margin-top: 60px;
    margin-bottom: 60px;

    @media (min-width: 768px) {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@import '../../node_modules/bootstrap/scss/bootstrap';
