$primary: rgb(40, 40, 40);
$secondary: rgb(45, 110, 164);

@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';

.container {
    @media (min-width: 576px) {
        // For sm and up
        max-width: 540px !important;
    }

    @media (min-width: 768px) {
        // For md and up
        max-width: 720px !important;
    }

    @media (min-width: 992px) {
        // For xl and up
        max-width: 960px !important;
    }

    @media (min-width: 1200px) {
        // For xxl and up
        max-width: 1140px !important;
    }
}

$popover-border-radius: 5px !important;
$popover-body-padding-x: 0 !important;
$popover-body-padding-y: 10px !important;
$popover-max-width: 280px !important;

.row {
    display: flex !important;
    flex-wrap: wrap !important;
    overflow: hidden !important;
    margin-top: 30px !important;

    @media (min-width: 768px) {
        // For md and up
        // margin-left: -15px !important;
        // margin-right: -15px !important;
    }
}

.welcome > div:nth-of-type(2) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.posts,
.image,
.col-md-4,
.col-md-6,
img {
    -o-object-fit: cover;
    object-fit: cover;
    border-style: none;
    width: 100%;

    margin: 0;
    max-width: 100%;
}

.img-fluid img {
    height: 180px;
    border-radius: 7px;
}

@media (max-width: 992px) {
    .img-fluid img {
        height: 140px;
    }
}

@media (max-width: 767px) {
    .img-fluid img {
        height: 160px;
    }
}

.img-fluid,
.teaser-img,
.col-11,
.row,
.welcome-xs,
.container-fluid {
    overflow: hidden !important;
}

.col-11,
.col-sm-10,
.col-md-7,
.offset-1,
.offset-sm-1,
.offset-md-5 {
    overflow: hidden !important;
}

.rounded-pill {
    background: red !important;
    font-size: 16px;
    max-height: 28px;
}

.badge {
    // font-family: Arial, sans-serif, Helvetica;
    background-color: var(--col-highlight);
    // background-color: #f2f2f2;
    // color: #595959 !important;
    border-radius: 5px !important;
    padding: 4px 7px !important;
    font-weight: 750 !important;
    font-stretch: semi-condensed;
    font-size: 12px;
}

$badge-font-size: 0.7em;

.posts > .post-list > div {
    margin-top: 60px;
    margin-bottom: 60px;

    @media (min-width: 768px) {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@import '../../../node_modules/bootstrap/scss/bootstrap';
